---
import Image from "astro/components/Image.astro"
---

<nav class=" border-gray-900 z-10 bg-transparent">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  
    <img src="/images/Tamales.png" alt="Tamales Rossy" class="h-10 rounded-full bg-orange-500" />
    
    <ul class="flex items-center space-x-6">
      <li><a href="#precios" class="text-white">Precios</a></li>
      <li><a href="#contacto" class="text-white">Contacto</a></li>
      <button class="px-4 py-2 bg-gradient-to-r from-orange-600 to-orange-500 hover:from-orange-500 hover:to-orange-400 text-white font-medium rounded-full transition-all duration-300 shadow-lg hover:shadow-xl transform hover:-translate-y-1 text-sm">
        Ordenar ahora
      </button>
    </ul>
    
  </div>
</nav>
